*{
    margin: 0;
    padding: 0;
}
header{
    height: 100px;
    display: flex;
}
.Logo{
    background-color: gray;
    color: black;
    width: 50%;
}
.Navigation{
    background-color: gray;
    color: black;
    width: 50%;
    text-align: right;
}
.Banner{
    background-color: aquamarine;
    height: 200px;
    text-align: center;
}
.Text_area{
    height: 175px;
    background-color: darkolivegreen;
    text-align: center;
}
.Box{
    display: flex;
    text-align: center;
}
.first_box{
    height: 400px;
    width: 33.3%;
    color: black;
    background-color: darkgoldenrod;
}
.second_box{
    height: 400px;
    width: 33.3%;
    color: black;
    background-color: coral;
}
.third_box{
    height: 400px;
    width: 33.3%;
    color: black;
    background-color: chocolate;
}
footer{
    background-color: black;
    color: azure;
    height: 150px;
    text-align: center;
}